.Container {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .add {
    padding: 10px;
    display: flex;
    gap: 5px;
    justify-content: center;

    .row {
      padding: 5px 2px;
      letter-spacing: 1px;
    }
  }
  .error {
    font-size: 10pt;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
  }
  .btn:hover {
    background-color: #282c3472;
  }
}
